.red{color:red;}
.green{color:limegreen;}
.blue{color:dodgerblue;}
#flash {text-align:center;}
#header{
	width:800px;
	background:black;
	display:block;
}
#logo{
	width:120px;
	height:80px;
	display:inline;
	float:left;
	border-bottom:thick solid black;	
	border-left:10px solid black;
	border-right:10px solid black;
}
.slogan{
	border-radius:0px;
	padding:0px;
	padding-top:25px;
	margin:0px;
	height:60px;
	width:330px;
	display:block;
	float:left;
}
#left_header.slogan{text-align:right; border-bottom-left-radius:15px;}
#right_header.slogan{text-align:left; border-bottom-right-radius:15px;}
#big{font-size:40px; text-align:center; display:block;}
#small{font-size:20px; text-align:center;}
#fields{
	width:250px;
	text-align:center;
}
#fields input{text-align:center;}
#intro1, #intro2{
	width:275px;
	font-size:30px;
}
#intro1 .first_line{margin-right:40px;}
#intro2 .first_line{margin-left:40px;}
#intro1, #intro2 .second_line{
	text-align:right;
}
#intro2, #intro1 .second_line{
	text-align:left;
}
#intro2 .second_line{margin-left:20px;}
.number{
	display:inline;
	font-weight:bold;
	margin:0px;
	padding:10px 0px;
	width:60px;
	background-color:black;
	color:white;
	text-align:center;
}
#intro1 .number{
	float:left; 
	border-bottom-right-radius:20px;
}
#intro2 .number{
	float:right;
	border-bottom-left-radius:20px;
}
.second_line{
	font-size:20px; 
	font-style:italic;
	margin-top:10px;
}
