#flash {text-align:center;}

#header{
	width:800px;
	background:black;
}

#logo{
	width:120px;
	height:80px;
	display:inline;
	float:left;
	border-bottom:thick solid black;	
	border-left:10px solid black;
	border-right:10px solid black;
}

.slogan{
	border-radius:0px;
	padding:0px;
	padding-top:25px;
	margin:0px;
	height:60px;
	width:330px;
	display:block;
	float:left;
	text-align:center; 
}

#left_header.slogan{border-bottom-left-radius:15px;}
#right_header.slogan{border-bottom-right-radius:15px;}

.green{color:limegreen;}

.red{color:red;}

.blue{color:dodgerblue;}

#fields{
	width:250px;
	text-align:center;
}

#fields input{text-align:center;}

#intro1, #intro2{
	width:275px;
	font-size:30px;
}

#intro1, #intro2 .second_line{
	text-align:right;
}

#intro2, #intro1 .second_line{
	text-align:left;
}

.number{
	border-bottom:1px solid black;
}

#intro1 .number{
	text-align:left; 
}

#intro2 .number{
	text-align:right;
}

.second_line{
	font-size:20px; 
	font-style:italic;
}