<h1>Thanks for signing up!</h1>

<p>An email has been sent to 
<%= @user.email %>
</p>

<p>
<%= link_to 'Confirm my account', user_confirmation_path(:id => @user.id, :confirmation_token => @user.confirmation_token) %>
</p>