<h2>Activities</h2>

<% for activity in @activities %>
	<% if activity.action == 'created_comment_for_user' and @activities.include?(activity.entity.post.activity) %>
  	<% next %>
	<% end %>
	<%= raw interpret(current_user, activity) %>
<% end %>